h1 {
  color: #042d62;
  font-size: 200%;
}

p {
  font-family: "arial";
  text-indent: 0px;
  margin-left: 0px;
}

div {
  color: #002b34;
  font-family: "arial";
  background-color: #d5ecff;
}

.minor-section { 
  background-color: #d5ecff; 
  border: solid 4px #042d62;
} 

body {
  background-color: #5aa6cc;
  }

#content {
  background-color: #9bd0ff;
  width: 1460px;
  min-height: 700px;
  padding: 10px;
  margin: 60px;
  border: solid 4px #042d62;
  font-size: 20px;
}