h1 {
  color: #190034;
  padding: 30px;
  font-size: 200%;
}

p {
  font-family: "arial";
  text-indent: 0px;
  margin-left: 0px;
}

div {
  color: #000d34;
  font-family: "arial";
}

.special { 
  background-color: #9d71fd; 
} 

body {
  background-color: #3a0d79;
  border: solid 0px;
  }

#content {
  background-color: #743cdc;
  width: 1350px;
  min-height: 700px;
  padding: 20px;
  margin: 60px;
  font-size: 20px;
  border: solid 0px;
}
