h1 {
  color: rgb(8, 91, 116);
  font-size: 200%;
}

p {
  font-family: "arial";
  text-indent: 0px;
  margin-left: 0px;
}

#content {
  background-color: #110d7f;
  width: 1460px;
  min-height: 700px;
  padding: 10px;
  margin: 60px;
  border: solid 6px #043e5d;
  font-size: 20px;
}