h1 {
  color: #000d34;
  padding: 30px;
  font-size: 200%;
}

p {
  font-family: "arial";
  text-indent: 0px;
  margin-left: 0px;
}

div {
  color: #000d34;
  font-family: "arial";
}

.minor-section { 
  padding: 30px;
  background-color: #fffcd5; 
  border: solid 0px #042d62;
} 

body {
  background-color: #5a91cc;
  }

#content {
  background-color: #f4cf71;
  width: 1350px;
  min-height: 700px;
  padding: 20px;
  margin: 60px;
  border: solid 0px #042d62;
  font-size: 20px;
}